
* {
    box-sizing: border-box;
    background-color: black;
  }
  
body {
    /* height: 100vh; */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
section {
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
    grid-gap: 1vmin;
  }
  
section.container div {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Creepster', sans-serif;
    font-size: 3rem;
    cursor: pointer;
  }

button {
    margin-top: 1.5rem;
    color: red;
    font-size: 1rem;
    border: 2px solid red;
    font-family: 'Nosifer', sans-serif;
    cursor: pointer;
}

button:focus {
  outline: 0;
}

h1 {
  font-family: 'Nosifer', sans-serif; 
  color: red;
}

h2 {
  font-family: 'Creepster', sans-serif;
  color: red;
}